html, body {
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*#root, .rootContainer, .canvasContainer {*/
#root {
  /*display:flex;*/
  /*flex-direction: column;*/

  /*min-height: 100vh;*/
  /*width: 100vw;*/
  /*!*height: 100%;*!*/
  /*!*height: 100vh;*!*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*overflow: hidden;*/
  /*!*margin-top: 120px !important;*!*/

  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-items: center;*/

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.rootContainer {

}

body {
  color: white;
  user-select: none;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.canvasContainer {

}

.modalImage {
  width: 100%;
  height: auto;
}

.navBar {
  z-index: 2;
  color: black;
}

.right {
  text-align: right;
}

.modalText {
  color: black;
  user-select: text;
}

.modalTextRed {
  color: red;
  user-select: text;
}

.modalTextGreen {
  color: green;
  user-select: text;
}

.admin-form {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
}

.buttons-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fifty-percent-button {
  flex: 1;
}

#component-helper-text {
  /*color: green;*/
}

.input-box-label {
  font-weight: bold !important;
  color: black !important;
}

.costs-pie {
  width:20vw !important;
  height:20vw !important;
  align-self: center;
}

.deploying {
  position: fixed;
  width:100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1500;
}
